.turno{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 150px;
    border: 1px solid lightblue;
    box-shadow: 11px 10px 0px -3px rgba(158,148,148,0.75);
    -webkit-box-shadow: 11px 10px 0px -3px rgba(158,148,148,0.75);
    -moz-box-shadow: 11px 10px 0px -3px rgba(158,148,148,0.75);
    .title{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: gray;
        span{
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .disponibilidad{
        display: flex;
        justify-content: space-between;
        .left,
        .right{
            display: flex;
            flex-direction: column;
            color: rgb(44, 162, 167);
            &:nth-child(1){
                color: rgb(235, 91, 91);
            }
        }
        

    }
}